body{
    margin: 0;
    padding: 0;
    height: 100vh;

}
h1{
    text-align: center;
    font-size: 40px;
}
fieldset{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
    border: none;
}
.detail_compte,.detail_perso{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 20%;
}


label, input,select{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
input,select{
    width: 500px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
}

.detail_condition{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.detail_condition input{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
}
.detail_condition label{
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.detail_condition p{
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.submit_btn{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.title-line {
    height: 2px;
    background-color: green; /* Couleur de la ligne */
    width: 100%;
    margin-top: -25px;
    z-index: -1;
}
legend{
    width: 400px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: green;
    z-index: 1;
}