#heure {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #000;
    font-size: 100px;
}
#date {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #000;
    font-size: 50px;
}

.portfolio_btn a{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
    overflow: hidden;
    color: #fff;
}
.portfolio_btn a:hover{
    color: #000;
    background: #fff;
    box-shadow: 0 0 10px #fff,
                0 0 40px #fff,
                0 0 80px #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
body {
    background-image: url('background6.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.home h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-shadow: 0 0 10px #000;
    text-align: center;
}