#heure {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #000;
    font-size: 100px;
}
#date {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #000;
    font-size: 50px;
}

.portfolio_btn a{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
}
.portfolio_btn a:hover{
    color: #000;
    background: #fff;
    box-shadow: 0 0 10px #fff,
                0 0 40px #fff,
                0 0 80px #fff;
}
.home_btn a{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
}
.home_btn a:hover{
    color: #000;
    background: #fff;
    box-shadow: 0 0 10px #fff,
                0 0 40px #fff,
                0 0 80px #fff;
}
.juice_btn a{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
}
.juice_btn a:hover{
    color: #000;
    background: #fff;
    box-shadow: 0 0 10px #fff,
                0 0 40px #fff,
                0 0 80px #fff;
}

*{
    margin: 0;
    padding: 0;
    font-family: kalam;
    color: #fff;
}
body {
    background-image: url('img/backgroundimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.home h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-shadow: 0 0 10px #000;
    text-align: center;
}
.struct_portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.struct_portfolio h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-shadow: 0 0 10px #000;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column; /* Ajustez la direction pour empiler les éléments verticalement */
    align-items: center;
    padding: 10px;
    width: 250px;

}

.box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-shadow: 0 0 10px #000;
    text-transform: uppercase;
    border-bottom: 10px solid #000;
}

.box ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
    width: 250px;
    height: 400px;
    overflow: auto;
}

.box ul li{
    margin: 10px 0;
    text-align: center;
    text-shadow: 0 0 10px #000;
    font-size: 20px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    
}
.box ul li:hover{
    color: #000;
    text-shadow: none;
    background: #fff;
}

.boxmaster{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
    width: 500px;
    height: 450px;
    border: #fff;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

